* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #EC715F;
  width: 100%;
}

.fit-picture {
  width: 250px;
}

.nav-list {
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}